alias rebuild-nix='cd ~/.nix && sudo nixos-rebuild switch --flake .# && cd -'
alias update-nix='cd ~/.nix && nix flake update --commit-lock-file && cd - && rebuild-nix'

alias c='clear'

alias cat='bat'
alias df='duf'
alias diff='delta'
alias du='ncdu'
alias find='fd'
alias htop='btop'
alias less='most'
alias more='most'
alias ps='procs'
alias top='btop'

alias ls='exa --group-directories-first --icons'
alias ll='exa -lg --group-directories-first --icons'
alias la='exa -lag --group-directories-first --icons'
alias ld='exa -Dg --group-directories-first --icons'
alias lh='exa -ldg .* --group-directories-first --icons'
alias lm='exa -lag | most'

alias dev='cd ~/dev'
alias devc='cd ~/dev/c#'
alias devj='cd ~/dev/java'
alias devn='cd ~/dev/node'
alias devp='cd ~/dev/python'
alias devr='cd ~/dev/rust'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias .......='cd ../../../../../..'

venv() {
    VENV_NAME=${PWD##*/}
    VENV_DIR=~/.pyenv/versions/$VENV_NAME
    if [ -d $VENV_DIR ]; then
        pyenv local $VENV_NAME
    else
        pyenv virtualenv $(pyenv global) $VENV_NAME
        pyenv local $VENV_NAME
    fi
}
